[Unit]
Description=Hourly Server Backup, Git Sync & Cold Storage Timer

[Timer]
OnCalendar=hourly
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target
